body {
    font-family: "Rubik", sans-serif;
    background: linear-gradient(61deg, #313136, #1F2023, #05060A);
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.body-container {
    position: relative;
    width: 480px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    gap: 50px;
}


.controls-container {
    gap: 20px;
}

header img {
    width: 280px;
    margin-bottom: 40px;    
}

.btn {
    background-color: hsl(203, 81%, 50%);
    border-radius: 6px;
    border-style: none;
    padding: 8px 20px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 0 20px #203a4b;
    padding: 8px 26px;
    transition: ease-out 0.1s;
}

.genre-radios {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 4px;
}

.radio {
    background-color: #203a4b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: solid 4px;
    border-color: rgba(32, 58, 75, 0.5);
}
.radio:first-child{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.radio:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

label {
    font-size: 1.2rem;
    font-weight: 600;
}


input[type="radio"] {
    cursor: pointer;
    appearance: none;

    border-radius: 50%;
    width: 16px;
    height: 16px;

    border: 2px solid white;
    transition: 0.2s all linear;

}

input[type="radio"]:checked {
  border: 6px solid #5AB5EE;
}

.indie-opt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    gap: 12px;

}

input[type="checkbox"]{
    appearance: none;
    cursor: pointer;
    margin: 0;

    width: 16px;
    height: 16px;

    border: 2px solid white;
    transition: 0.2s all linear;
}

input[type="checkbox"]:checked{
    background-color: #5AB5EE;
    border: #5AB5EE;
}

.indie-check-label {
    font-size: 1rem;
    font-weight: 400;
}

.song-details {
    font-weight: 500;
    padding: 4px 12px;
    text-align: center;
    line-height: 1.3;
    margin: 0;

}

.song-modal {
    position: absolute;
    top: 175px;
    width: 420px;
    background: linear-gradient(61deg, #213F52, #142530 );
    border-radius: 20px;
    box-shadow: 0 10px 30px #05060A;
    display: none;
}
.song-modal-inner {
    text-align: center;
    justify-content: center;
}

.modal-close-btn {
    border: none;
    background-color: #5AB5EE;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    height: 31px;
    width: 31px;
    margin: 19px 19px 0 0;
    transition: .1s all linear; 

}


.fa-xmark {
    color: #142530;
    font-size: 1rem;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 480px) { 
    h1 {
        font-size: 1.1rem;

    }

    header img {
        width: 220px;
        margin-bottom: 16px;
    }

    .btn {
        padding: 8px 18px;
        font-size: 1rem;
    }

    .indie-check-label {
        font-size: 1.2rem;
        text-align: center;
        font-weight: 600;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .controls-container {
        gap: 20px;
    }

    .main-container{
        gap: 20px;
    }
    
    input[type="radio"] {
        width: 24px;
        height: 24px;
        border: 3px solid white;
    }

    label {
        font-size: 1.3rem;
        font-weight: 600;
    }
    .song-modal {
        width: 300px;
    }
    iframe {
        width: 280px;
        height: 150px;
    }
    .radio {
        padding: 8px 16px;
    }
    .genre-radios {
        width: 230px;
        gap: 4px;
    }
}